/* PHASE 3: Layout */
.content{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: 0;
}

.content-main{
    width: 620px;
    padding: 20px;
    min-height: 200px;
}

.content-side{
    border-right: 1px solid #ccc;
    min-height: 200px;
    padding: 20px;
    padding-right: 19px;
    width: 200px;
}