/* PHASE 5: Cats */

.content-header{
    background: url("../images/cats.jpg");
    background-size: cover;
    height: 200px;
    position: relative;
    flex: 100%;
    border-bottom: 1px solid #ccc;
}

.content-header > h1 {
    position: absolute;
    bottom: 20px;
    left: 240px;
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    color: #fff;
    text-shadow: #000 0 0 10px;
}

.content-header-add-friend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.content-header-add-friend:hover{
    background: #eee;
}