<h1>Edit Your Cat!</h1>

<%= render "form", {cat: @cat, type: :edit} %>

<!-- 
<form action="<%#= cat_url(@cat) %>" method="POST">
<input type="hidden" name="_method" value="PATCH">

    <label for="name">Name:
        <input type="text" name="cat[name]" value="<%#= @cat.name %>">
    </label>
    <br>
    <br>

    <label for="color">Color:
    <select name="cat[color]">
        <%# Cat::COLOR.each do |color| %>
        <option value="<%#= color %>" <%#= @cat.color == color ? "selected" : ""  %>><%#= color %> </option>
        <#% end %>

        
    </select>
    </label>
    <br>
    <br>

    <label for="sex">Sex: 
            <input type="radio" name="cat[sex]" value="<%#= @cat.sex %>" <%#= @cat.sex == "M" ? "checked" : ""  %>>
        <label for="M">Male</label>
        
        <input type="radio" name="cat[sex]" value="<%#= @cat.sex %>"<%#= @cat.sex == "F" ? "checked" : ""  %>>
        <label for="F">Female</label>
       
    </label>
    <br>
    <br>
    

    <label for="birth_date">Birthdate:
        <input type="date" name="cat[birth_date]" value="<%#= @cat.birth_date %>">
    </label>
    <br>
    <br>
    
    <label for="description">Description:
        <textarea name="cat[description]" value="<%#= @cat.description %>">
            <%#= @cat.description %>
        </textarea>
    </label>
    <br>
    <br>

    <input type="submit" value ="edit cat">

</form> -->