<h1>Make a New Cat!</h1>

<%= render "form", {cat: @cat, type: :new} %>

<!--
<form action="<%#= cats_url %>" method="POST">
    <label for="name">Name:
        <input type="text" name="cat[name]" value="<%#= @cat.name %>">
    </label>
    <br>
    <br>

    <label for="color">Color:
    <select name="cat[color]">
         <option disabled selected>--select a color--</option>
        <%# Cat::COLOR.each do |color| %>
        <option value="<%#= color %>"><%#= color %> </option>
        <%# end %>
    </select>
    </label>
    <br>
    <br>

    <label for="sex">Sex: 
        <input type="radio" name="cat[sex]" value="M">
        <label for="M">Male</label>
        
        <input type="radio" name="cat[sex]" value="F">
        <label for="F">Female</label>
       
    </label>
    <br>
    <br>
    

    <label for="birth_date">Birthdate:
        <input type="date" name="cat[birth_date]" value="<%#= @cat.birth_date %>">
    </label>
    <br>
    <br>
    
    <label for="description">Description:
        <textarea name="cat[description]" value="<%#= @cat.description %>">

        </textarea>
    </label>
    <br>
    <br>
    <input type="submit" value ="add cat">

</form>
-->
<!--t.date "birth_date", null: false
#     t.string "color", null: false
#     t.string "name", null: false
#     t.string "sex", limit: 1, null: false
#     t.text "description", null: false
#     t.datetime "created_at", null: false
#     t.datetime "updated_at", null: false-->